<h1>How to connect to a VPN using Windows</h1>
<p>Using Windows to connect to the VPN is easy and requires only few steps</p>
<h2>Installation</h2>
<p>Step 1: <%= link_to "Download OpenVPN", "https://openvpn.net/index.php/open-source/downloads.html" %> </p>
<p>Step 2: Choose the version suitable for your computer - 32 or 64 bit.<br />
  <%= image_tag('walkthroughs/windows_1.png', :title=>'Choose version', :alt=>'choose version') %></p>
<p>Step 3: Install it (detailed guide available here: <%= link_to "OpenVPN installation", "#{image_path('walkthroughs/windows_2.jpg')}", :target => "_blank" %>)</p>
<p>Step 4: Download <%= link_to "DualityVPN Client", root_url+"downloads/duality-windows.zip", :target => "_blank" %> and unpack it. Installation not needed!
<h2>Using the client</h2>
<p>Step 1: Turn it on (Duality.exe)</p>
<p>Step 2: Client is pretty much self-explainable but if you need help, here's a guide on how to use it:
<%= link_to "Using DualityVPN client", "#{image_path('walkthroughs/windows_3.jpg')}", :target => "_blank" %> </p>
