<h1>How to connect to a VPN using Linux</h1>
<p>This guide assumes you are using Ubuntu 14.04 64-bit or similar (Debian, Kubuntu etc)</p>
<h2>Installation</h2>
<p>Step 1: <%= link_to "Install OpenVPN", "#{image_path('walkthroughs/linux_1.jpg')}", :target => "_blank" %>
  (or compile it from the <%= link_to "source", "http://swupdate.openvpn.org/community/releases/openvpn-2.3.4.tar.gz" %>)</p>
<p>Step 2: Now you have a choice - you can either <b>download</b> and <%= link_to "install DualityVPN Client", "#{image_path('walkthroughs/linux_3.jpg')}" %>
  (which requires sudo, X11 and OpenVPN to work) or you can use <%= link_to "generic solution that only requires OpenVPN", "#{image_path('walkthroughs/linux_2.jpg')}", :target => "_blank" %> </p>
<h2>Connecting to the VPN</h2>
<p>Step 1: DualityVPN Client is pretty easy to understand but if you need additional help, here's a <%= link_to "step-by-step walkthrough", "#{image_path('walkthroughs/windows_3.jpg')}", :target => "_blank" %></p>
