<div class="center hero-unit">
<h1> Sign in</h1> 
<div class="col-md-4 center">

<% if flash[:notice] %>
<div class="alert alert-notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<% if flash[:forgot] %>
<div class = "alert alert-error">
If you forgot your password, please visit
<%= link_to "this site", support_forgot_password_path %>
</div> 
<% end %>
<%= form_for(:session, url: sessions_path) do |f| %>
<div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'form-control center' %>
</div><div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control center' %>
</div>
      <%= f.submit "Sign in", :class => 'btn btn-default' %>
    <% end %></div>
Don't have an account yet?
<%= link_to "Register now", signup_path %>
</div>
</div>
