
<div class="center hero-unit">
<div class="col-md-9 adjustToLeft">
<h1> Sign up</h1>
<% if @user.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from registering: </h2>
   
<% @user.errors.full_messages.each do |msg| %>
<%= msg %><br />
<% end %></ul></div>
<% end %>

<%= form_for :signup do |f| %>
<div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'form-control center' %>
</div><div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control center' %>
</div><div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'form-control center' %>
</div><div class="form-group">
      <%= f.label :craptcha, "Enter ONLY the numbers, in order, from the following:" %>
      <%= image_tag('craptcha/craptcha1.jpg', :title=>'craptcha', :alt=>'craptcha') %>
      <%= f.text_field :craptcha, :class => 'form-control center' %>
</div>

      <%= f.submit "Sign up", :class => 'btn btn-default' %>
    <% end %></div>
</div>

