<h1>Details of this VPN</h1>
Login:
<%= @account.login %><br />
Password:
<%= @account.password %><br />

<%= form_for :zip, :url=>product_processors_vpn_sendZip_path do |f| %>
<%= f.label :server, "Choose server you wish to connect to from the list" %>
<%= f.select :server, @servers, :prompt => "Select one" %>
<br />
<%= f.submit "Download zip archive with files necessary to connect to vpn", :class => 'btn btn-default' %>
<% end %>
