<h1> Choose contract length, check if price matches and proceed to checkout</h1>
<div class ="col-md-4 semicenter">
<% if flash[:notice] %>
<div class="alert alert-notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<%= form_for :vpn, url: {action: "create"} do |f| %>
<%= 'For how long would you like this VPN?' %>
<br /><%= f.radio_button :time, '0.5' %>
<%= f.label :time, '2 weeks', :value => '0.5' %>
<br /><%= f.radio_button :time, '1' %>
<%= f.label :time, '1 month', :value => '1' %>
<br /><%= f.radio_button :time, '2' %>
<%= f.label :time, '2 months', :value => '2' %>
<br /><%= f.radio_button :time, '3' %>
<%= f.label :time, '3 months', :value => '3' %>
<br /><%= f.label :location, 'Location' %>
<%= f.select :location, @locations, :prompt => 'Select One' %>
<%= f.hidden_field :id, :value => @product.id%>
<br /><%=f.submit %>
<% end %>
</div>
