<h1> Choose contract length, check if price matches and proceed to checkout</h1>
<div class ="col-md-6 semicenter">
<% if flash[:notice] %>
<div class="alert alert-notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<%= form_for :vpn, url: {action: "create"} do |f| %>
<%= 'For how long would you like this VPN?' %>
<br /><%= f.radio_button :time, '0.1' %>
<%= f.label :time, '3 days', :value => '0.1' %> - Free!
<br /><%= f.radio_button :time, '0.5' %>
<%= f.label :time, '2 weeks', :value => '0.5' %> - <%= number_to_currency (@product.price*0.5) %>
<br /><%= f.radio_button :time, '1' %>
<%= f.label :time, '1 month', :value => '1' %> - <%= number_to_currency (@product.price) %>
<br /><%= f.radio_button :time, '2' %>
<%= f.label :time, '2 months', :value => '2' %> - <%= number_to_currency (@product.price*2) %>
<br /><%= f.radio_button :time, '3' %>
<%= f.label :time, '3 months', :value => '3' %> - <%= number_to_currency (@product.price*3) %>
<%= f.hidden_field :id, :value => @product.id%>
<br /><%= f.submit "Buy VPN account", :class => 'btn btn-default', data: { confirm: "Are you sure?" } %>
<% end %>
</div>
<div class = "col-md-6 semicenter">
By purchasing an account here you agree to the terms of service which can be viewed below:
</div>
<div class = "col-md-7 semicenter with_scrolling">
<%= render 'product_processors/vpn/terms' %>
</div>
