<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :capacity_max %><br>
    <%= f.number_field :capacity_max %>
  </div>
  <div class="field">
    <%= f.label :capacity_current %><br>
    <%= f.number_field :capacity_current %>
  </div>
  <div class="field">
    <%= f.label :cert_url %><br>
    <%= f.text_field :cert_url %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
<div class="field">
    <%= f.label :certname %><br>
    <%= f.text_field :certname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
