<h1>Listing servers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Location</th>
      <th>Server Pool</th>
      <th>Capacity current</th>
      <th>Cert url</th>
      <th>Cername</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.ip %></td>
        <td><%= server.location %></td>
        <td><%= server.server_pool_id %></td>
        <td><%= server.capacity_current %></td>
        <td><%= server.cert_url %></td>
        <td><%= server.certname %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= button_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
