<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @server.ip %>
</p>

<p>
  <strong>Location:</strong>
  <%= @server.location %>
</p>

<p>
  <strong>Server Pool:</strong>
  <%= @server.server_pool %>
</p>

<p>
  <strong>Capacity current:</strong>
  <%= @server.capacity_current %>
</p>

<p>
  <strong>Cert url:</strong>
  <%= @server.cert_url %>
</p>

<p>
  <strong>Certname:</strong>
  <%= @server.certname %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
