<div class = "container-bg">

<%= link_to(image_tag('profile/transactions.png', :title=>'transactions', :alt=>'transactions history'), profile_payments_path) %>
<%= link_to(image_tag('profile/vpns.png', :title=>'vpns', :alt=>'my vpn accounts'), profile_vpns_path) %>
<%= link_to(image_tag('profile/activity.png', :title=>'activity', :alt=>'activity'), profile_activity_path) %>
<%= link_to(image_tag('profile/password.png', :title=>'password', :alt=>'change password'), profile_change_path) %>
<%= link_to(image_tag('profile/mobile.png', :title=>'mobile vpn', :alt=>'mobile vpn'), mobile_view_path) %>


</div>
