<div class="center hero-unit">
  <h1>Duality VPN</h1>
 <% if flash[:notice] %>
<div class="alert alert-notice"><%= flash[:notice] %></div>
<% end %>
 <% if flash[:error] %>
<div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<h2><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></h2>

<%= image_tag('main/main_content_1.jpg', :title=>'features', :alt=>'features') %>
<%= image_tag('main/main_content_2.jpg', :title=>'features2', :alt=>'features2') %>
</div>
