<%= render 'menu' %>
<div class = "container-right">

<% if flash[:notice] %>
<div class ='alert alert-notice'><%= flash[:notice] %> </div>
<% end %>
<% if flash[:error] %>
<div class ='alert alert-error'><%= flash[:error] %> </div>
<% end %>

<% if @user.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from registering: </h2>

<% @user.errors.full_messages.each do |msg| %>
<%= msg %><br />
<% end %></ul></div>
<% end %>

<%= form_for :profile, url: {action: "update"} do |f| %>
<div class = "checkbox">
<%= 'Enter your current password' %>
</div>
<%= f.password_field :current_password, :class => 'form-control center' %>
<div class = "checkbox">
<%= 'Enter your new password' %>
</div>
<%= f.password_field :password, :class => 'form-control center' %>
<div class = "checkbox">
<%= 'Repeat your new password' %>
</div>
<%= f.password_field :password_confirmation, :class => 'form-control center' %>
<div class = "checkbox">
<%=f.submit "Change password", :class => 'btn btn-default' %>
</div>
<% end %>
</div>
