<!DOCTYPE html>
<html>
<head>
  <title>Duality</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller],  "data-turbolinks-track" => true if javascript_exists?(params[:controller]) %> 
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>
<div class = "container">
<%= render 'layouts/menu' %>
<div class = "col main_part semicenter body">
<%= yield %>
</div>
<div class= "footer">
<%= render 'layouts/footer' %>
</div>
</div>
</body>
</html>

