<h1>Listing accounts</h1>
<h2><%= @accounts.count %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Login</th>
      <th>Password</th>
      <th>Expire</th>
      <th>Active</th>
      <th>User</th>
      <th>Server Pool</th>
      <th>Product</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.login %></td>
        <td><%= account.password %></td>
        <td><%= account.expire %></td>
        <td><%= account.active %></td>
        <td><%= account.user.id %></td>
        <td><%= account.server_pool.id %></td>
        <%= account.product if account.product.nil? %>
        <td><%= account.product.id unless account.product.nil? %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= button_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
